<p>edit.html.erb</p>
<!-- need thumbnail/embedded player with send button below -->

<img src="<%= @clip.thumburl %>">

<form action="/shares/:id" method="post">
  <%= token_tag %>
  <input type="text" name="receiver_id" placeholder="Send To:">
  <input type="submit" value="Send">
</form>
