<p>edit.html.erb</p>
<!-- need thumbnail/embedded player with send button below -->

<img src="<%=  %>">

<form action="/clips/edit/:id" method="post">
  <input type="text" name="receiever" placeholder="Send To:">
  <input type="submit" value="Send">
</form>
