<p>search.html.erb</p>

<% @clips[:videos].each do |clip| %>

  <div>
    <div>
      <h2><%= clip[:title] %></h2>
    </div>
    <a href="https://www.youtube.com/watch?v=<%= clip[:url] %>">
      <img src="<%= clip[:thumburl] %>" alt="">
    </a>
<% end %>

    <form action="/clips/save" method="post">
      <%= token_tag %>
      <input type="hidden" name="video_id" >
      <input type="submit" value="Save">
    </form>

  </div>
